name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ts-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - run: npm ci

      - run: npm run setup:twemoji

      - run: npm run lint:ts

  web-ext:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - run: npm ci

      - run: npm run setup:twemoji

      - run: npm run build

      - run: npm run lint:web-ext
